backend/env
*.env
backend/env/
backend/venv/
.env

# Ignore Python cache files
backend/__pycache__/


# Ignore Node modules
frontend/node_modules/
# Ignore build directories
frontend/build/
# Ignore log files
*.log   
# Ignore IDE specific files
.vscode/

# Ignore system files
.DS_Store